<section class="section">
  <div class="container">
    <h1 class="heading">Login</h1>

    <%= render 'form' %>
    <p><%= flash[:message]%></p>
    <%= link_to 'Back', root_path %>
  </div>
</section>


